# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/
src/static/

# NPM #
node_modules/
dist/

# Backup files # 
*.bak

# If you are using PyCharm # 
.idea/**/workspace.xml 
.idea/**/tasks.xml 
.idea/dictionaries 
.idea/**/dataSources/ 
.idea/**/dataSources.ids 
.idea/**/dataSources.xml 
.idea/**/dataSources.local.xml 
.idea/**/sqlDataSources.xml 
.idea/**/dynamic.xml 
.idea/**/uiDesigner.xml 
.idea/**/gradle.xml 
.idea/**/libraries 
*.iws /out/ 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
coverage.xml 

# Docker
jinja-compose.yml

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# Environments 
.envs/*
!.envs/*.example

# mkdocs documentation 
/site  

# Visual Studio Code # 
.vscode/* 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

*.DS_Store